/*
 * Copyright (c) 2026 The ZMK Contributors
 * SPDX-License-Identifier: MIT
 *
 * Test: Move command enters move mode without crash.
 *
 * Simplified test - just verify move mode can be entered/cancelled.
 */

#include "../behavior_keymap.dtsi"

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &dm DM_MOV 0        /* 0,0: enter move mode */
                &dm DM_STP 0        /* 0,1: cancel */
                &dm DM_SLOT_NVS 0   /* 1,0: slot 0 */
                &dm DM_SLOT_NVS 1   /* 1,1: slot 1 */
            >;
        };
    };
};

&kscan {
    events = <
        /* Enter move mode */
        ZMK_MOCK_PRESS(0,0,10)
        ZMK_MOCK_RELEASE(0,0,10)

        /* Cancel move mode */
        ZMK_MOCK_PRESS(0,1,10)
        ZMK_MOCK_RELEASE(0,1,10)
    >;
};
