#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>
#include <behaviors/dynamic_macro.dtsi>
#include <dt-bindings/zmk/dynamic_macros.h>

&kscan {
    rows = <4>;
    columns = <2>;
    exit-after;
};

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &dm DM_REC 0        &dm DM_STP 0
                &dm DM_SLOT_RAM 0   &dm DM_SLOT_RAM 1
                &dm DM_DEL 0        &dm DM_MOV 0
                &kp A               &kp B
            >;
        };
    };
};
