#include <dt-bindings/zmk/keys.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/kscan_mock.h>
#include <behaviors/dynamic_macro.dtsi>
#include <dt-bindings/zmk/dynamic_macros.h>

&kscan {
    rows = <4>;
    columns = <2>;
    exit-after;
    events = <
        /* REC */
        ZMK_MOCK_PRESS(0,0,10)
        ZMK_MOCK_RELEASE(0,0,10)
        /* Shift+A (hold shift, press A, release A, release shift) */
        ZMK_MOCK_PRESS(2,0,10)
        ZMK_MOCK_PRESS(2,1,10)
        ZMK_MOCK_RELEASE(2,1,10)
        ZMK_MOCK_RELEASE(2,0,10)
        /* STP */
        ZMK_MOCK_PRESS(0,1,10)
        ZMK_MOCK_RELEASE(0,1,10)
        /* Assign to slot 0 */
        ZMK_MOCK_PRESS(1,0,10)
        ZMK_MOCK_RELEASE(1,0,10)
        /* Play slot 0: should replay Shift+A */
        ZMK_MOCK_PRESS(1,0,2000)
        ZMK_MOCK_RELEASE(1,0,10)
    >;
};

/ {
    keymap {
        compatible = "zmk,keymap";
        default_layer {
            bindings = <
                &dm DM_REC 0        &dm DM_STP 0
                &dm DM_SLOT_RAM 0   &dm DM_SLOT_RAM 1
                &kp LSHFT           &kp A
                &none               &none
            >;
        };
    };
};
